* {
  font-family: arial;
}

.main-header {
  height: 110px;
  width: 100%;
  display: flex;
  background-color: #eeb548;
}

.icon-box {
  width: calc(150px + 12%);
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon-box img {
  height: 70%;
  width: auto;
  align-self: center;
  padding-right: 30px;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 1;
}

.search-bar img {
  padding: 0px 30px;
  align-self: center;
  height: 25%;
  width: auto;
}

.search-bar input {
  align-self: center;
  border: none;
  border-radius: 1px;
  height: 30%;
  font-size: 20px;
  min-width: 150px;
  width: 70%;
}

.search-bar input:focus {
  border: none;
  background-color: #f3f3f3;
}

.user-box {
  width: 220px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.user-box img {
  height: 40%;
  width: auto;
  align-self: center;
}

.user-box p {
  align-self: center;
  padding-left: 20px;
  color: #fff;
  font-size: 20px;
}

.main {
  display: flex;
}

.notes-nav {
  width: 300px;
  min-height: 600px;
  height: 100vh;
  box-shadow: 10px 0px 10px -3px #aaa;
}

.notes-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notes-nav li {
  align-self: stretch;
  align-items: center;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  padding: 12px 10px 12px 0px;
  justify-content: flex-end;
  cursor: pointer;
}

.notes-nav span {
  font-weight: 20;
}

.notes-nav li:first-child {
  margin: 40px 0px;
}

.notes-nav img {
  height: 20px;
  width: 20px;
  padding: 0px 10px;
}

.notes-nav b {
  color: #000;
}

.notes-nav span {
  width: 70%;
  color: #444;
}

.notes-nav-selected {
  background-color: rgb(209, 216, 224);
}

.notes-content {
  width: calc(100% - 300px);
}

.notes-header-icon {
  height: 55%;
  width: auto;
  padding: 0px 10px;
}

.notes-header {
  display: flex;
  height: 60px;
  padding: 25px 40px;
  align-items: center;
}

.notes-header h1 {
  font-size: 25px;
  padding-right: 20px;
  height: 100%;
  line-height: 60px;
  border-right: 3px rgb(209, 216, 224) solid;
}

.notes-header p {
  font-size: 18px;
  padding-left: 20px;
  overflow: hidden;
  line-height: 60px;
}

.drop-down-arrow {
  height: 15%;
  width: auto;
  padding: 0px 10px;
  cursor: pointer;
}

.drop-down-box {
  position: relative;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  background-color: #fff;
  display: none;
}

.drop-down-box ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.drop-down-box ul {
  position: absolute;
  top: 20px;
  box-shadow: 3px 5px 5px 3px #bbb;
  background-color: #fff;
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 300px;
  min-width: 170px;
}

.drop-down-box li {
  height: 40px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 0px 10px;
  font-size: 15px;
  border-bottom: 4px solid #fff;
}

.drop-down-box li:hover {
  border-bottom: 4px solid #eb6c23;
  color: #eb6c23;
}

.notes-bank-icon {
  height: 30px;
  width: auto;
  margin-right: 15px;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.note-block {
  width: 350px;
  height: 130px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 0px #aaa;
  padding: 20px 30px;
  margin: 20px 2.5%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  flex-direction: row;
  position: relative;
  user-select: none;
}

.note-block:last-of-type {
  justify-self: flex-start;
}

.subject-title {
  color: #5aaedf;
  font-weight: bolder;
  font-size: 25px;
  margin-right: 5px;
  line-height: 25px;
  height: 25px;
  align-self: center;
}

.tick-verified {
  height: 20px;
  width: 20px;
  align-self: center;
}

.note-text {
  margin: 20px 0px;
  color: #7f7f7f;
  display: block;
  width: 100%;
  user-select: text !important;
}

.upload-block {
  cursor: pointer;
  position: relative;
}

.upload-block img {
  height: 60px;
  width: auto;
  margin-left: auto;
  position: absolute;
  top: 40px;
  right: 30px;
}

.upload-block p {
  align-self: flex-start;
  width: 100%;
}

.upload-block i {
  justify-self: flex-start;
}

.note-owner-img {
  height: 25px;
  width: auto;
}

.note-owner-name {
  font-size: 14px;
  display: inline-block;
  padding-left: 8px;
  align-self: center;
}

.note-action-img {
  height: 20px;
  width: auto;
  margin: 0px 7px 0px 17px;
  cursor: pointer;
}

.subject-folder {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 40px;
}

.subject-folder div {
  height: 120px;
  width: 100%;
  display: flex;
  margin: 20px 0px;
  box-shadow: 3px 6px 6px 3px #aaa;
  align-items: center;
  cursor: pointer;
}

.subject-folder img {
  height: 30px;
  width: auto;
  margin-left: 40px;
}

.subject-folder p {
  font-size: 21px;
  margin-left: 30px;
  color: #fff;
}

.my-notes {
  background-color: #b7e994;
}

.favorite {
  background-color: #83ccdd;
}

.mistake-collection {
  background-color: #f9c191;
}

.upload-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.upload {
  min-height: 300px;
  width: 400px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  padding: 40px 40px;
  font-size: 18px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.upload-topic-header {
  color: #41b0f0;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bolder;
}

.upload p {
  align-self: flex-start;
  width: 100%;
}

.upload i {
  color: #666;
}

.topics-container {
  width: 180px;
  margin: 0px 0px 5px 20px;
  font-size: 13px;
  line-height: 20px;
  height: 30px;
}

.topics-container label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 175px;
  height: 30px;
}

.topics-container label:before {
  top: -2px !important;
}

.topics-container i {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 175px;
}

.topics-container input {
  padding-bottom: 100%;
}

.upload button {
  color: #fff;
  background-color: #0bff2c;
  width: 330px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;
}

.note-management {
  font-size: 20px;
  margin-left: auto;
  font-weight: bolder;
  color: #aaa;
  cursor: pointer;
  user-select: none;
}

.note-management-box {
  display: none;
  position: absolute;
  top: 45px;
  right: 25px;
  height: 30px;
  background-color: #ccc;
  z-index: 3;
  border-radius: 5px;
}

.note-management-box img {
  width: auto;
  height: 20px;
  margin-right: 10px;
}

.note-management-box li {
  line-height: 30px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  user-select: none;
}
