* {
  font-family: arial;
}

.main-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 60px 0px;
  justify-content: center;
}

.user-data {
  flex-basis: 550px;
  flex-grow: 1;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-right: 5px solid #808080;
}

@media only screen and (min-width: 800px) {
}

.user-data img {
  width: 110px;
  height: 110px;
  flex-basis: 20%;
  margin-left: 7%;
  margin-right: 3%;
}

.slogan {
  color: #291a03;
  font-size: 25px;
  font-weight: bolder;
  flex-basis: 60%;
  height: 120px;
  line-height: 120px;
}

.input-box {
  width: 370px;
  height: 400px;
}

.input-box label {
  flex-basis: 100%;
}

.input-box input {
  width: 340px;
  padding: 0px 10px;
  height: 45px;
  font-size: 20px;
  border: 3px solid #41b0f0;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 18px;
}

.input-box input:nth-of-type(2n) {
  border: 3px solid #f85f1b;
}

.user-subject {
  flex-basis: 500px;
  flex-grow: 1;
  height: 600px;
  margin-left: 70px;
}

.user-subject input {
  display: none;
}

.user-subject input:checked + label:before {
  background-image: url(/static/images/checked.png);
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.user-subject input + label:before {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #808080;
  content: "";
  background: #fff;
  border-radius: 2px;
  left: -19px;
  top: 2px;
  margin-right: -13px;
  cursor: pointer;
}

.user-subject input + label {
  display: inline-block;
  padding-left: 26px;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 22px;
  flex-basis: 120px;
}

.user-subject input + label:nth-of-type(2n) {
  flex-basis: 65%;
}

.user-subject button {
  border: none;
  font-size: 20px;
  width: 300px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  cursor: default;
}

.confirm-available {
  color: #fff;
  background-color: #26f041;
  cursor: pointer !important;
}

.subject-title {
  font-weight: bolder;
  font-size: 34px;
  height: 100px;
  line-height: 100px;
  width: 100%;
}

.subject-nav {
  font-weight: bold;
  font-size: 17px;
  border-right: 2px solid #291a03;
  padding: 4px 5px;
  cursor: pointer;
}

.subject-nav:last-of-type {
  border-right: none;
}

.subject-nav-selected {
  color: #41b0f0 !important;
  cursor: default !important;
  font-weight: bolder !important;
}

.subject-category {
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  height: 420px;
  align-content: flex-start;
}

.subject-category:first-of-type {
  display: flex;
}

.subject-category p {
  color: #41b0f0;
  font-size: 20px;
  flex-basis: 100%;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
}
