{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' href='/static/styles/home.css'>
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="title-picture">
  </div>
  <div class="title-text-container">
    <p class="title-text-1">An Online Note Sharing Platform</p>
    <p class="title-text-2">Designed for Aspiring Individual Students</p>
    <div class="button-container">
      <button class="button-blue">LOG IN</button>
      <button class="button-orange">SIGN UP</button>
    </div>
  </div>
</div>
<img class="scrolldown-arrow" src="/static/images/icons/double-arrow-down.svg">
<div class="login-shade">
  <div class="login-container">
    <img src="/static/images/inverse_bubble.svg">
    <p>Login to NOTEFY</p>
    <label for="username">Username or Email Address</label>
    <input id="username">
    <label for="password">Password</label>
    <input id="password" type="password">
    <p>Forgot Password?</p>
    <button id="login_button">Login</button>
  </div>
</div>
<div class="escaper-1"></div>
<div class="showcase-container">
  <h1 class="title-text-1" style="margin: 50px;">Fancy Stuff</h1>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/scripts/home.js"></script>
{% endblock %}