{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' href='/static/styles/notes.css'>
{% endblock %}

{% block content %}
<header class="main-header">
  <div class="icon-box">
    <img src="/static/images/home_bubble.svg">
  </div>
  <div class="search-bar">
    <img src="/static/images/icons/search-icon.svg">
    <input>
  </div>
  <div class="user-box">
    <img src="/static/images/icons/user-icon.png">
    <p>{{ current_user.username }}</p>
  </div>
</header>
<main class="main">
  <section class="notes-nav">
    <ul>
      <li subject="none" >
        <img src="/static/images/icons/notes-bank-icon.svg">
        <span><b>Notes Bank</b></span>
      </li>
      <li subject="none" >
        <img src="/static/images/icons/folder-icon.svg">
        <span><b>Folders</b></span>
      </li>
      {% for s in user_subjects %}
        <li subject="{{ s.name }}">
          <span>{{ s.display_text }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="notes-content">
    {% if subject and not folder %}
      <header class="notes-header">
        <img class="notes-header-icon" style="padding-right: 20px;" src="/static/images/icons/folder-icon.svg">
        <p style="border-left: 2px solid #ccc;">{{ subject.display_text }}</p>
      </header>
      <div class="subject-folder">
        <div class="my-notes">
          <img src="/static/images/icons/upload.svg">
          <p>My Notes</p>
        </div>
        <div class="favorite">
          <img src="/static/images/icons/favorite.svg">
          <p>Favorite</p>
        </div>
        <div class="mistake-collection">
          <img src="/static/images/icons/mistake.svg">
          <p>Mistake Collection</p>
        </div>
      </div>
    {% else %}
      <header class="notes-header">
        {% if folder == "my-notes" %}
          <img class="notes-bank-icon" src="/static/images/icons/smile.svg">
          <h1>My Notes</h1>
          <p>Topic</p>
          <div class="drop-down-box" id="topic_box">
            <ul>
              {% for topic in subject.topics %}
                <li>{{ topic }}</li>
              {% endfor %}
            </ul>
          </div>
          <img class="drop-down-arrow" src="/static/images/icons/drop-down-arrow.svg">
        {% elif folder == "favorite" %}
          <img class="notes-bank-icon" src="/static/images/icons/favorite.svg">
          <h1>Favorites</h1>
          <p>Topic</p>
          <div class="drop-down-box" id="topic_box">
            <ul>
              {% for topic in subject.topics %}
                <li>{{ topic }}</li>
              {% endfor %}
            </ul>
          </div>
          <img class="drop-down-arrow" src="/static/images/icons/drop-down-arrow.svg">
        {% else %}
          <img class="notes-bank-icon" src="/static/images/icons/notes-bank-icon.svg">
          <h1>Notes Bank</h1>
          <p>Subject</p>
          <div class="drop-down-box" id="subject_box">
            <ul>
              {% for s in user_subjects %}
                <li subject="{{ s.name }}">{{ s.display_text }}</li>
              {% endfor %}
            </ul>
          </div>
          <img class="drop-down-arrow" src="/static/images/icons/drop-down-arrow.svg">
          {% if filtered_subject %}
            <p>Topic</p>
            <div class="drop-down-box" id="topic_box">
              <ul>
                {% for topic in filtered_subject.topics %}
                  <li>{{ topic }}</li>
                {% endfor %}
              </ul>
            </div>
            <img class="drop-down-arrow" src="/static/images/icons/drop-down-arrow.svg">
          {% endif %}
        {% endif %}
        {% if folder != "my-notes" %}
          <div style="margin-left: auto; margin-right: 30px">
            <input type="checkbox" id="my_notes_only">
            <label for="my_notes_only">Only show my notes</label>
          </div>
        {% endif %}
      </header>
    {% endif %}
    {% if not subject or folder == "my-notes" or folder == "favorite": %}
      <div class="notes-list">
        {% if folder=="my-notes": %}
          <div class="note-block upload-block">
            <p class="subject-title">{{ subject.display_text }}</p>
            <i class="note-text">Upload Your Own Notes</i>
            <img class="note-upload-img" src="/static/images/icons/upload.svg">
          </div>
          <div class="upload-overlay">
            <div class="upload">
              <p class="upload-topic-header">{{ subject.display_text }}</p>
              <p style="margin-bottom: 10px;">Topics:</p>
              {% for topic in subject.topics %}
              <div class="topics-container">
                <input type="checkbox" id="{{ topic }}">
                <label for="{{ topic }}"><i>{{ topic }}</i></label>
              </div>
              {% endfor %}
              <input type="file" id="note_file">
              <button id="submit_note">Submit Note</button>
            </div>
          </div>
        {% endif %}
        {% for note in notes %}
          <div class="note-block" id="note_{{ note.id }}">
            <span class="subject-title">{{ note.get_subject_object().display_text }}</span>
            <img class="tick-verified" src="/static/images/icons/tick-verified.svg">
            <p class="note-management">. .</p>
            <ul class="note-management-box">
              {% if note.owner == current_user %}
                <li>
                  <img src="/static/images/icons/trash.svg">
                  Delete
                </li>
              {% endif %}
            </ul>
            <i class="note-text">{{ note.get_topics_as_string() }}</i>
            <img class="note-owner-img" src="/static/images/icons/user-icon.png">
            <p class="note-owner-name">{{ note.owner.username }}</p>
            {% if current_user in note.liked_users %}
              <img class="note-action-img action-like" style="margin-left: auto;" src="/static/images/icons/red-heart.svg">
            {% else %}
              <img class="note-action-img action-like" style="margin-left: auto;" src="/static/images/icons/red-heart-empty.svg">
            {% endif %}
            <span class="note-likes">{{ note.likes }}</span>
            {% if current_user in note.favorite_users %}
              <img class="note-action-img action-favorite" src="/static/images/icons/favorite.svg">
            {% else %}
              <img class="note-action-img action-favorite" src="/static/images/icons/favorite-empty.svg">
            {% endif %}
            <span class="note-favorites">{{ note.favorites }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/scripts/notes.js"></script>
{% endblock %}