{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' href='/static/styles/reset_password.css'>
{% endblock %}

{% block content %}
<form class="container">
  {{ form.old_password.label }}
  {{ form.old_password }}

  {{ form.new_password.label }}
  {{ form.new_password }}

  {{ form.confirm_new_password.label }}
  {{ form.confirm_new_password }}
  
  <button type="submit">Reset Password</button>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/scripts/reset_password.js"></script>
{% endblock %}