{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' href='/static/styles/signup.css'>
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('signup') }}">
<main class="main-container">
  <section class="user-data">
    <img src="/static/images/inverse_bubble.svg">
    <p class="slogan">Welcome to NOTEFY :)</p>
    <div class="input-box">
      {{ form.username.label }}
      {% for error in form.username.errors %}
      <p class="input-error-message">{{ error }}</p>
      {% endfor %}
      {{ form.username }}

      {{ form.email.label }}
      {% for error in form.email.errors %}
      <p class="input-error-message">{{ error }}</p>
      {% endfor %}
      {{ form.email }}

      {{ form.password.label }}
      {% for error in form.password.errors %}
      <p class="input-error-message">{{ error }}</p>
      {% endfor %}
      {{ form.password }}
      
      {{ form.confirm_password.label }}
      {% for error in form.confirm_password.errors %}
      <p class="input-error-message">{{ error }}</p>
      {% endfor %}
      {{ form.confirm_password }}
    </div>
  </section>
  <section class="user-subject">
    <p class="subject-title">Your Subjects</p>
    <span class="subject-nav subject-nav-selected" name="language">Language</span>
    <span class="subject-nav" name="individuals_and_society">Individuals and Society</span>
    <span class="subject-nav" name="sciences">Sciences</span>
    <span class="subject-nav" name="math_and_arts">Math and Arts</span>
    <div class="subject-category" id="language">
      <p>Language A: Language and Literature</p>
      {{ form.english_a_sl }}{{ form.english_a_sl.label }}
      {{ form.english_a_hl }}{{ form.english_a_hl.label }}
      {{ form.chinese_a_sl }}{{ form.chinese_a_sl.label }}
      {{ form.chinese_a_hl }}{{ form.chinese_a_hl.label }}
      <p>Language ab initio</p>
      {{ form.french_ab }}{{ form.french_ab.label }}
      {{ form.german_ab }}{{ form.german_ab.label }}
      <p>Language B</p>
      {{ form.english_b_hl }}{{ form.english_b_hl.label }}
      {{ form.chinese_b_hl }}{{ form.chinese_b_hl.label }}
    </div>
    <div class="subject-category" id="individuals_and_society">
      <p>History</p>
      {{ form.history_sl }}{{ form.history_sl.label }}
      {{ form.history_hl }}{{ form.history_hl.label }}
      <p>Business</p>
      {{ form.business_sl }}{{ form.business_sl.label }}
      {{ form.business_hl }}{{ form.business_hl.label }}
      <p>Economics</p>
      {{ form.economic_sl }}{{ form.economic_sl.label }}
      {{ form.economic_hl }}{{ form.economic_hl.label }}
      <p>Psychology</p>
      {{ form.psychology_sl }}{{ form.psychology_sl.label }}
      <p>ESS</p>
      {{ form.ess_sl }}{{ form.ess_sl.label }}
    </div>
    <div class="subject-category" id="sciences">
      <p>Physics</p>
      {{ form.physics_sl }}{{ form.physics_sl.label }}
      {{ form.physics_hl }}{{ form.physics_hl.label }}
      <p>Chemistry</p>
      {{ form.chemistry_sl }}{{ form.chemistry_sl.label }}
      {{ form.chemistry_hl }}{{ form.chemistry_hl.label }}
      <p>Biology</p>
      {{ form.biology_sl }}{{ form.biology_sl.label }}
      {{ form.biology_hl }}{{ form.biology_hl.label }}
      <p>SEHS</p>
      {{ form.sehs_sl }}{{ form.sehs_sl.label }}
      {{ form.sehs_hl }}{{ form.sehs_hl.label }}
      <p>Computer Science</p>
      {{ form.cs_sl }}{{ form.cs_sl.label }}
      {{ form.cs_hl }}{{ form.cs_hl.label }}
    </div>
    <div class="subject-category" id="math_and_arts">
      <p>Math</p>
      {{ form.math_sl }}{{ form.math_sl.label }}
      {{ form.math_hl }}{{ form.math_hl.label }}
      <p>Visual Art</p>
      {{ form.visual_art_sl }}{{ form.visual_art_sl.label }}
      {{ form.visual_art_hl }}{{ form.visual_art_hl.label }}
      <p>Music</p>
      {{ form.music_sl }}{{ form.music_sl.label }}
      {{ form.music_hl }}{{ form.music_hl.label }}
    </div>
    {{ form.csrf_token }}
    {{ form.name }}
    <button type="submit" id="submit-button" disabled="true">Confirm</button>
  </section>
</main>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/scripts/signup.js"></script>
{% endblock %}